body{
    text-align: center;
}





#apps{
    width: 100%;
    height:800px;
    background-color: cyan;
}
.line{
    height: 6px;
    background-color: brown;
    width: 70px;
    margin: 8px auto;
}
#games{
    width:100%;
    height: 800px;
    
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
#chatbot{
    width:100%;
    height: 800px;
    background-color: forestgreen;
}
#myCarousel{
    background-color: chartreuse;
    height: 700px;
}
#myCarousel img{
    height:300px;
    margin-top: 35px;
}
.carousel-inner p{
    margin-bottom: 15px;
    margin-top: 15px;
    color: darkblue;
    font-size: 20px;
}